@model JobSearchApp_MVC.Models.ResumeTableData

@{
    ViewData["Title"] = "Job.com";
}
<div class="navigation">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            @*<a class="navbar-brand" asp-controller="Home" asp-action="Index">JobSearchApp_MVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>*@
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Candidate" asp-action="Profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Candidate" asp-action="GetJobs"> Show Jobs </a>
                    </li>
                </ul>
            </div>
        </div>
        <a class="nav-item mr-3 nav-link p-3" asp-controller="Home" asp-action="Index">Logout</a>
    </nav>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Apply for the Job !</h1>
        <form asp-controller="Candidate" asp-action="ApplyForJob" method="post" enctype="multipart/form-data">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="JobId" class="control-label"></label>
                <input asp-for="JobId" class="form-control" />
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorEmail" class="control-label"> Vendor Email</label>
                <input asp-for="VendorEmail" class="form-control" />
                <span asp-validation-for="VendorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="filePath" class="control-label"> Resume File Path</label>
                <input asp-for="filePath" class="form-control" />
                <span asp-validation-for="filePath" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                Upload Resume <br />
                <input type="file" name="file" /> 
            </div>

            <br />
            <div class="col-md-4">
                <div class="form-group">
                    <button type="submit" value="submit" name="submit" formmethod="post" class="btn btn-primary w-100">Apply Now</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}