@{
    ViewData["Title"] = "Job.com";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="welcome-page">
    
    <div class="page-title">
        <h1 font-family="monospace">Job.com</h1>
        <h5>We help building your dream career</h5>
    </div>
    <br />
    <br />
    <div class="role-selection">
        <h4>I m a </h4>
        <a asp-action="ConsumerLogin" class="btn btn-warning"> Consumer </a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a asp-action="VendorLogin" class="btn btn-warning"> Vendor </a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a asp-action="CandidateLogin" class="btn btn-warning"> Candidate </a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
